{
    "colors": [],
    "guildID": "",
    "general_chatID": "",
    "shoutout_channelID": "",
    "count_channelID": "",
    "custom_role_subscriberID": "",
    "server_log_channelID": "",
    "booster_roleID": "",
    "youtube_memberID": ""
}